*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  display: grid;
  place-items: center;
  background-image: linear-gradient(90deg,#333 -10%, #665 50%, #333 110%);
  width: 100vw;
  height: 100vh;
  font-family: monospace;
  padding: 5px;
  overflow: hidden;
  
}

.container{
  min-width: 300px;
  max-width: 340px;
  height: 420px;
  background:black;
  display: grid;
  grid-template-rows:15% 85% ;
}
.screen{
  width: 100%;
  color: white;
  padding: 20px 10px;
  text-align: right;
  font-size: 1.2em;

}
.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons .btn {
  border: 1px solid #000;
  font-size:1.1em ;
  outline: none;
  background: cornsilk;
}
.btn:hover{
  filter: brightness(120%) saturate(120%);
}
.btn:active{
  filter: brightness(90%) saturate(120%);
}
.buttons .op{
  background:rgb(255, 153, 0);
}

.c{
   grid-column:1/3;
}
.zero{
  grid-column:1/4;
}